@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  padding: 6px;
  border: 2px solid #000;
  border-radius: 6px;
}

textarea {
  padding: 6px;
  border: 2px solid #000;
  border-radius: 6px;
}

select {
  padding: 6px;
  border: 2px solid #000;
  border-radius: 6px;
}

button:disabled {
  opacity: 0.3;
}